@import "tailwindcss";
@source "./**/*.{html,ts}";
@plugin "@tailwindcss/forms";

@custom-variant dark (&:where(.dark, .dark *));

/* Global styles */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f9fafb;
  color: #111827;
}

.dark body {
  background-color: #020617;
  color: #f1f5f9;
}
